// # Front-end Style Guide

// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

// ### Primary

// - Soft red: hsl(10, 79%, 65%)
// - Cyan: hsl(186, 34%, 60%)

// ### Neutral

// - Dark brown: hsl(25, 47%, 15%)
// - Medium brown: hsl(28, 10%, 53%)
// - Cream: hsl(27, 66%, 92%)
// - Very pale orange: hsl(33, 100%, 98%)

:root {
  --primary-1:hsl(10, 79%, 65%);
  --primary-2:hsl(186, 34%, 60%);

  --neutral-1: hsl(25, 47%, 15%);
  --neutral-2: hsl(28, 10%, 53%);
  --neutral-3: hsl(27, 66%, 92%);
  --neutral-4: hsl(33, 100%, 98%);

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

// ## Typography

// ### Body Copy

// - Font size: 18px

// ### Font

// - Family: [DM Sans](https://fonts.google.com/specimen/DM+Sans)
// - Weights: 400, 700
// font-family: 'DM Sans', sans-serif;

//event class
.hide {
  visibility: hidden ;
}

.higher {
  background-color: var(--primary-2)!important;
}
.higher:hover {
  background-color:hsl(186, 34%, 67%)!important;
}

body {
  font-family: 'DM Sans', sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral-3);

  .account__card{
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .balance {
      width: 100%;
      border-radius: 15px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;      
      background-color: var(--primary-1);
      margin-bottom: 1rem;
      
      h1 {
        font-size: 18px;
        font-weight: 400;
        color: var(--neutral-4);
        margin: .8rem 2rem .2rem 2rem;
      }

      h2 {
        font-weight: 700;
        font-size: 1.6rem;
        color: var(--neutral-4);
        margin: .2rem 2rem .8rem 2rem;
      }

      svg {
        position: absolute;
        right: 1.5rem;
      }
    }

    .spending {
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background-color: var(--neutral-4);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      position: relative;

      .title {
        position: absolute;
        font-size: 1.6rem;
        font-weight: 700;
        top: .8rem;
        left: 2rem;
        color: var(--neutral-1);
      }

      .bar__fild {
        width: 386px;
        margin: 0 2rem 2.5rem 2rem;
        height: 175px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .bar__item:hover :nth-child(1) {
          visibility: visible;
        }

        .bar__item {
          height: 100%;
          width: 10%;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: end;
          align-items: center;
          overflow: visible;

          .bar__info {
            background-color: var(--neutral-1);
            width: auto;
            visibility: hidden;
            border-radius: 5px;
            height: 2rem;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            h4 {
              font-weight: 400;
              font-size: 16px;
              margin: 0 2px;
              color: var(--neutral-4);
            }
          }

          .bar__fill {
            width: 100%;
            border-radius: 5px;
            background-color: var(--primary-1);
            cursor: pointer;
          }

          .bar__fill:hover {
            background-color:hsl(10, 79%, 72%);
          }
          
          p {
            position: absolute;
            bottom: -30px;
            font-weight: 400;
            color: var(--neutral-2);
          }
        }
      }

      .divisor {
        width: 386px;
        height: 2px;
        background-color: var(--neutral-3);
      }
      
      .general {
        width: 386px;
        margin: 1rem 2rem 2rem;
        display: flex;
        justify-content: center;

        .month__ammount {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: left;

          h3 {
            color: var(--neutral-2);
            font-size: 18px;
            font-weight: 400;
          }

          h2 {
            font-size: 2.6rem;
            font-weight: 700;
            color: var(--neutral-1);
          }

        }

        .last__ammount {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;

          h3 {
            color: var(--neutral-2);
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 7px;
          }

          h2 {
            font-size: 18px;
            font-weight: 700;
            color: var(--neutral-1);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  main {
    .account__card{
      width: 350px;

      .balance {
        h1 {
          margin: .8rem 1rem .2rem 1rem;
        }
        h2 {
          margin: .2rem 1rem .8rem 1rem;
        }
        svg {
          right: 1rem;
        }
      }

      .spending {
      
        .title {
        left: 1rem;
        }
        
        .bar__fild {
        width: 318px;
        margin: 0 1rem 2.5rem 1rem;
        height: 175px;
        }

        .divisor {
          width: 318px;
          height: 2px;
          background-color: var(--neutral-3);
        }

        .general {
          width: 318px;
          margin: 1rem 1rem 2rem 1rem;
        }
      }
    }
  }
}